server:
  Address: ":7600"
  BasicAuth: true
  User: user
  Password: password
  TarCreateDir: "/downloads/_tars"
  TarsDirs:
    - "."
    - "tars"
qbt:
  Host: host
  Username: user
  Password: password
